@{
    Layout = null;

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ASP.NET</title>
</head>
<body>
    <div>
        <h1>hello from our view</h1>
    </div>
</body>
</html>
